/*GENERIC*/

body {
/*  background-image: url('./img/bg.png');*/
/*  background-size: cover;*/
/*  background-color: #F2F2F2;*/
  background-color: #ededed;
  font-family: 'Roboto', sans-serif;
}

/*#wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
}
*/
/*NAV BAR*/

#nav {
  background-color: #FFFFFF;
  border-radius: 3px;
}

#nav_home {
  color: #19763E;
  font-weight: 500;
}

#nav_home:hover {
  color: #53bf6b;
}

#nav_link {
  color: #111111;
  font-weight: 500;
}

#nav_link:hover {
  color: #53bf6b;
}

#right {
  float: right;
}

/*LOGIN AND SIGNUP FORM*/

#form_header {
  background-color: #FFF;
  border: black;
}

#form_body {
  background-color: #ededed;
  border: none;
}

#form_footer {
  background-color: #ededed;
  border: none;
}

#form_title {
  color: #19763E;
}

#form_label {
  color: #111111;
  font-weight: 500;
}

#form_welcome {
  margin-bottom: 15px;
  color: #19763E;
}

#form_input {
  max-width: 300px;
  margin: 0 auto 10px auto;
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #53bf6b;
  text-align: center;
  border: none;
}

#form_submit {
  background-color: #19763E;
  margin: 10px 0 5px 0;
  border-radius: 3px;
  border: none;
}

#form_submit:hover {
  background-color: #53bf6b;
}



/*HOME PAGE*/

#home_section{
  margin: 100px 0;
}

#home_big {
  margin: 10px 0;
  font-size: 50px;
  color: #19763E;
}

#home_medium {
  font-size: 30px;
  color: #111;
}

#home_small {
  font-size: 20px;
  color: #111;
}

#home_button {
  width: 100px;
  margin: 10px 5px;
  background-color: #19763E;
  border: none;
  border-radius: 3px;
}

#home_button:hover {
  background-color: #53bf6b;
}


/*STARTUPS*/

#search_bar {
  background-color: #19763E;
  max-width: 300px;
  padding: 10px;
  border-radius: 3px;
  margin: 20px auto;
}

#search_label {
  font-size: 18px;
  font-weight: 400;
  color: #FFF;;
}

#search_select {
  background-color: #111;
  color: #FFF;
  font-size: 13px;
  border-color: #FFF;
}

#row {
  padding: 0;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

#ul_repeat {
  display: block;
  text-align: center;
  height: 350px;
  max-height: 350px;
  background-color: #FFFFFF;
  margin: 10px;
  list-style: none;
  border-radius: 5px;
}

#li_repeat {
  list-style: none;
}

.col-lg-4 {
  padding: 0px;
}

#title_repeat {
  font-size: 20px;
  font-weight: 500;
}

#location_repeat {
  font-size: 18px;
  font-weight: 400;
}

#bio_repeat {
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  max-height: 30px; 
}

li img {
  padding: 15px 0 5px 0;
  width: 110px;
  max-width: 110px;
}

.li_bio {
  margin-top: 20px;
}

.li_website {
  background-color: #19763E;
  padding: 10px;
  margin-top: 33px;
  color: #FFF;
}

.li_website a {
  text-decoration: none;
  color: #FFF;
}

.li_twitter {
  background-color: #111;
  padding: 10px;
  color: #FFF;
  border-radius: 0px 0px 5px 5px;
}

.li_twitter a {
  text-decoration: none;
  color: #FFF;
}

#more_button {
  max-width: 150px;
  margin: 10px 5px 20px 5px;
  background-color: #19763E;
  border: none;
  border-radius: 3px;
}

#more_button:hover {
  background-color: #53bf6b;
}