<header ng-controller="usersController as users">
<nav id="nav" class="navbar navbar-light bg-faded">
    <ul class="nav navbar-nav left">
      <li class="nav-item">
        <a id="nav_home" class="navbar-brand" href="/#/">The Start Hub</a>
      </li>
      <li class="nav-item" ng-show="users.isLoggedIn()">
        <a id="nav_link" class="nav-link" href="/#/startups">Startups</a>
      </li>
      <li class="nav-item" ng-show="users.isLoggedIn()">
        <a id="nav_link" class="nav-link" href="/#/community">Community</a>
      </li>
      </ul>
      <ul class="nav navbar-nav right">
      <li class="nav-item" ng-hide="users.isLoggedIn()">
        <a id="nav_link" class="nav-link" href="/#/login">Login</a>
      </li>
      <li class="nav-item" ng-hide="users.isLoggedIn()">
        <a id="nav_link" class="nav-link" href="/#/signup">Signup</a>
      </li>
<!--       <li class="nav-item" ng-hide="users.isLoggedIn()">
        <a class="nav-link" href="http://localhost:3000/api/auth/twitter">Twitter Login</a>
      </li> -->
      <li class="nav-item" ng-show="users.isLoggedIn()">
        <a id="nav_link" class="nav-link" href="#" ng-click="users.disappear()">Logout</a>
      </li>
    </ul>
  </nav>
</header>