<section ng-controller="MainController as main">

  <label>Look for Startup People based in</label>
  <select ng-model="location">
    <option>Atlanta </option>
    <option>Austin </option>
    <option>Bangalore </option>
    <option>Berlin </option>
    <option>Boston </option>
    <option>Boulder </option>
    <option>Chicago </option>
    <option>Hong Kong </option>
    <option>Houston </option>
    <option>London </option>
    <option>Melbourne </option>
    <option>Montréal </option>
    <option>Moscow </option>
    <option>Munich </option>
    <option>New Delhi </option>
    <option>New York </option>
    <option>Paris </option>
    <option>San Francisco </option>
    <option>Santiago </option>
    <option>Sao Paulo </option>
    <option>Singapore </option>
    <option>Stockholm </option>
    <option>Sydney </option>
    <option>Tel Aviv </option>
  </select>

  <div ng-repeat="member in main.communityMembers| filter:{'location': location} | orderBy:main.random | limitTo:main.totalDisplayed " class="col-sm-6 col-md-4">
    <div class="thumbnail text-center">
      <img ng-src="{{member.image}}" >
      <div class="caption">
        <h3>{{member.name}}</h3>
        <h5>{{member.location}}</h5>
        <h6>{{member._id}}</h6>
        <a ng-href="{{member.url}}" target="_blank">Website</a>
        <a ng-href="{{member.twitter}}" target="_blank">Twitter</a>
        <p>{{member.bio}}</p>
        <button>Add to Favorite</button>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="col-sm-6 col-md-4" ng-click="main.loadMore()">SHOW ME MORE</button>
  </div>

</section>