<section id="home_section" ng-hide="users.isLoggedIn()" class="text-center">
  <h1 id="home_big">The Start Hub</h1>
  <h3 id="home_small">Explore a Massive Database of whatever.</h3>
  <a id="home_button" class="btn btn-info" role="button" data-toggle="modal" data-target="#login_section">Login</a>
  <a id="home_button" href="/#/signup" class="btn btn-info" role="button">Signup</a>
</section>

<section id="home_section" ng-show="users.isLoggedIn()" class="text-center">
  <h1 id="home_big">The Start Hub</h1>
  <h3 id="home_small">Look for:</h3>
  <a id="home_button" href="/#/startups" class="btn btn-info" role="button">Startups</a>
  <a id="home_button" href="/#/community" class="btn btn-info" role="button">People</a>
</section>


<div class="modal fade" id="login_section">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form id="authorize" ng-hide="users.isLoggedIn()" ng-submit="users.authorize()">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="users.user.email">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="users.user.password">
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
      <div class="modal-footer" ng-show="users.isLoggedIn()">
        <button type="button" class="btn btn-default" data-dismiss="modal">Start!</button>
      </div>
    </div>
  </div>
</div>
