 <section ng-hide="users.isLoggedIn()">
  <h3>Login</h3>
  <form id="authorize" ng-hide="users.isLoggedIn()" ng-submit="users.authorize()">
   
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email" ng-model="users.user.email">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="users.user.password">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>