<section ng-hide="users.isLoggedIn()">
  <h3>Join</h3>
  <form id="authorize" ng-hide="users.isLoggedIn()" ng-submit="users.join()">
   
      <label for="full_name">Full</label>
      <input type="text" class="form-control" id="full_name" placeholder="Full name" ng-model="users.user.full_name">

   
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="users.user.email">
      <small class="text-muted">We'll never share your email with anyone else.</small>
   
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="users.user.password">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>